
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
 *,
  ::before,
  ::after {
    @apply dark:border-gray-700;
  }
}
.no-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

.light input:-webkit-autofill {
  -webkit-text-fill-color: black !important;
  /* Forces white text */
  background-color: transparent !important;
  box-shadow: inset 0 0 0px 1000px transparent !important;
}

.dark input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

